In [2]:
import pandas as pd

In [3]:
wasteWhiz=pd.read_csv('train.csv')

In [4]:
df=wasteWhiz.copy()

In [4]:
df.columns

Index(['Deal_title', 'Lead_name', 'Industry', 'Deal_value', 'Weighted_amount',
       'Date_of_creation', 'Pitch', 'Contact_no', 'Lead_revenue',
       'Fund_category', 'Geography', 'Location', 'POC_name', 'Designation',
       'Lead_POC_email', 'Hiring_candidate_role', 'Lead_source',
       'Level_of_meeting', 'Last_lead_update', 'Internal_POC', 'Resource',
       'Internal_rating', 'Success_probability'],
      dtype='object')

In [5]:
#removing unnecessary columns
df=df.drop(['Deal_title','Lead_name','Contact_no','Geography','Location','POC_name','Designation','Lead_POC_email','Lead_source'],axis=1)

In [6]:
df.columns

Index(['Industry', 'Deal_value', 'Weighted_amount', 'Date_of_creation',
       'Pitch', 'Lead_revenue', 'Fund_category', 'Hiring_candidate_role',
       'Level_of_meeting', 'Last_lead_update', 'Internal_POC', 'Resource',
       'Internal_rating', 'Success_probability'],
      dtype='object')

In [6]:
#checking the datatypes of the columns
df.dtypes

Industry                  object
Deal_value                object
Weighted_amount           object
Date_of_creation          object
Pitch                     object
Lead_revenue              object
Fund_category             object
Hiring_candidate_role     object
Level_of_meeting          object
Last_lead_update          object
Internal_POC              object
Resource                  object
Internal_rating            int64
Success_probability      float64
dtype: object

In [8]:
#checking for null values
df.isnull().sum()

Industry                   1
Deal_value                51
Weighted_amount          525
Date_of_creation           0
Pitch                      0
Lead_revenue               0
Fund_category              0
Hiring_candidate_role      0
Level_of_meeting           0
Last_lead_update         633
Internal_POC               0
Resource                 149
Internal_rating            0
Success_probability        0
dtype: int64

In [7]:
#filling the null values and dropping few null values
#Deal_value and Weighted_amount with average
df=df.dropna(subset=['Deal_value','Weighted_amount']).reset_index()

In [8]:
#Last_lead_update,Industry,Resource
x=df['Industry'].value_counts().max()
df['Industry']=df['Industry'].fillna(x)
x=df['Last_lead_update'].value_counts().max()
df['Last_lead_update']=df['Last_lead_update'].fillna(x)
x=df['Resource'].value_counts().max()
df['Resource']=df['Resource'].fillna(x)

In [9]:
df.isnull().sum()

index                    0
Industry                 0
Deal_value               0
Weighted_amount          0
Date_of_creation         0
Pitch                    0
Lead_revenue             0
Fund_category            0
Hiring_candidate_role    0
Level_of_meeting         0
Last_lead_update         0
Internal_POC             0
Resource                 0
Internal_rating          0
Success_probability      0
dtype: int64

In [10]:
df.dtypes

index                      int64
Industry                  object
Deal_value                object
Weighted_amount           object
Date_of_creation          object
Pitch                     object
Lead_revenue              object
Fund_category             object
Hiring_candidate_role     object
Level_of_meeting          object
Last_lead_update          object
Internal_POC              object
Resource                  object
Internal_rating            int64
Success_probability      float64
dtype: object

In [11]:
#converting the object
df['Deal_value']=df['Deal_value'].str.replace('$','').astype(int)

C:\Users\hp\AppData\Local\Temp\ipykernel_3928\3755706018.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Deal_value']=df['Deal_value'].str.replace('$','').astype(int)

In [12]:
df['Weighted_amount']=df['Weighted_amount'].str.replace('$','').astype(float)

C:\Users\hp\AppData\Local\Temp\ipykernel_3928\2667808364.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Weighted_amount']=df['Weighted_amount'].str.replace('$','').astype(float)

In [13]:
df['Lead_revenue'].value_counts()

500 Million - 1 Billion    2186
100 - 500 Million          2158
50 - 100 Million           2091
Name: Lead_revenue, dtype: int64

In [14]:
df['Industry'].value_counts()

Banks                        1373
Insurance                     393
Financial Services            364
Real Estate                   192
Investment Bank/Brokerage     191
                             ...
Hardware Consulting             1
Speech Recognition              1
eMail/Messaging                 1
Internet                        1
Web Development                 1
Name: Industry, Length: 172, dtype: int64

In [17]:
del df['Date_of_creation']

In [18]:
df['Pitch'].value_counts()

Product_2    3226
Product_1    3209
Name: Pitch, dtype: int64

In [19]:
df['Fund_category'].value_counts()

Category 3    1650
Category 2    1645
Category 1    1600
Category 4    1540
Name: Fund_category, dtype: int64

In [24]:
l=list(df['Hiring_candidate_role'].value_counts().index)
l.sort()

In [31]:
l.index('Community pharmacist')

126

In [ ]:
df['Level_of_meeting'].value_counts()

Level 1    2213
Level 3    2111
Level 2    2111
Name: Level_of_meeting, dtype: int64

In [ ]:
df['Last_lead_update'].value_counts()

Following up but lead not responding    588
588                                     575
Up-to-date                              573
more than a month                       566
No track                                543
?                                       538
More than 2 weeks                       515
5 days back                             514
Pending                                 509
Did not hear back after Level 1         507
2 days back                             507
More than a week back                   500
Name: Last_lead_update, dtype: int64

In [ ]:
df['Internal_POC'].value_counts()

Hebron,Artenia D             127
Booker,David L               126
Dunaway,Antoine              124
Ullrich,Rose Anne            122
Gilley,Janine                121
Turner,Marlon D              118
Heidelberg,Andre D           118
Hameier,Kurt E               118
Green,Ann E                  117
Green,Candy                  117
Maine,John P                 117
Davis,Sharrice A             116
Murray,Younetta              116
Rocks,Michael J              115
Leu,Darren L                 115
Carter Sr,Clifton E          114
Himes,Maurice C              114
Sutton,Michelle R            113
Davis,Brian R                112
Jones,Michael L              112
Shelton,Sidney P             111
Featherstone,Adrian R        111
Mabrey,Kevin C               111
Cash,Tyrone J                110
Dimattia,Frank D             110
Kiepea,Prince A              110
Clavey,Therese A             110
Salyers,Daniel L             110
Morsy,Omar A                 109
Meli,Teresa V                109
Hanyok,John J                108
Jones,Eyvette W              108
Ali,Mohamed                  107
Young,Valerie K              107
Charles,Caleb                106
Logan,Kevin N                105
Thomas,Lori E                104
Gould,Lisa D                 103
Cashin,Marc C                103
Ross,Eric L                  103
Vickers Jr.,Henry J          102
Knox,Antonio D               102
Ryker,David                  102
Georgakopoulos,Vasilios T    102
Gaskins Jr,Franklin D        102
Van Arter,Derrick            101
Brown,Maxine A               100
Smith,Keenan H                99
Massiah,Gerard F              99
Irizarry,Yolanda              98
Moran,Natalie A               96
Dyson,William A               96
Robinson,John C               96
Houston,Arnold E              94
Tondeur,Keith D               94
McKenstry,Loretta A           91
Bannister,Joan                90
Pappas,Mark S                 89
Anthony,Katherine D           89
Abdul-Hamid,Saud Muhamad      86
Name: Internal_POC, dtype: int64

In [ ]:
#internal POC not required
del df['Internal_POC']

In [ ]:
df['Resource'].value_counts()

No                              1092
We have all the requirements    1070
Not enough                      1053
Deliverable                     1041
Yes                             1024
Cannot deliver                  1021
1092                             134
Name: Resource, dtype: int64

In [15]:
l1=list(df['Internal_rating'].value_counts().index)

In [16]:
l1.sort()

In [18]:
l1.index(3)

2

In [ ]:
df.dtypes

index                      int64
Industry                  object
Deal_value                 int32
Weighted_amount          float64
Pitch                     object
Lead_revenue              object
Fund_category             object
Hiring_candidate_role     object
Level_of_meeting          object
Last_lead_update          object
Resource                  object
Internal_rating            int64
Success_probability      float64
dtype: object

In [ ]:
#giving the numeric values to the attributes
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
cols=['Industry','Pitch','Lead_revenue','Fund_category','Hiring_candidate_role','Level_of_meeting','Last_lead_update','Resource']
for i in cols:
  df[i]=le.fit_transform(df[i].astype(str))

In [ ]:
df.head()

,index,Industry,Deal_value,Weighted_amount,Pitch,Lead_revenue,Fund_category,Hiring_candidate_role,Level_of_meeting,Last_lead_update,Resource,Internal_rating,Success_probability
0,0,120,320506,2067263.7,1,1,1,126,2,8,0,3,73.6
1,1,32,39488,240876.8,1,2,3,501,0,4,3,5,58.9
2,2,57,359392,2407926.4,0,2,3,286,0,3,3,4,68.8
3,3,115,76774,468321.4,1,2,2,611,1,4,5,1,64.5
4,5,18,418674,2637646.2,0,1,1,381,2,0,2,3,66.3

In [26]:
wasteWhiz

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,...,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating,Success_probability
0,TitleM5DZY,"Davis, Perkins and Bishop Inc",Restaurants,320506$,2067263.7$,03/29/2020,Product_2,607.447.7883,50 - 100 Million,Category 2,...,Executive Vice President,charlenewerner@davis.com,Community pharmacist,Website,Level 3,No track,"Davis,Sharrice A",NaN,3,73.60
1,TitleKIW18,Bender PLC LLC,Construction Services,39488$,240876.8$,07/10/2019,Product_2,892-938-9493,500 Million - 1 Billion,Category 4,...,Chairman/CEO/President,terrylogan@bender.com,Recruitment consultant,Others,Level 1,Did not hear back after Level 1,"Brown,Maxine A",No,5,58.90
2,TitleFXSDN,Carter-Henry and Sons,Hospitals/Clinics,359392$,2407926.4$,07/27/2019,Product_1,538.748.2271,500 Million - 1 Billion,Category 4,...,SVP/General Counsel,arielhamilton@carterhenry.com,Health service manager,Marketing Event,Level 1,?,"Georgakopoulos,Vasilios T",No,4,68.80
3,TitlePSK4Y,Garcia Ltd Ltd,Real Estate,76774$,468321.4$,01/30/2021,Product_2,(692)052-1389x75188,500 Million - 1 Billion,Category 3,...,CEO/Co-Founder/Chairman,erinwilson@garcia.com,"Therapist, speech and language",Contact Email,Level 2,Did not hear back after Level 1,"Brown,Maxine A",We have all the requirements,1,64.50
4,Title904GV,Lee and Sons PLC,Financial Services,483896$,NaN,05/22/2019,Product_2,001-878-814-6134x015,50 - 100 Million,Category 3,...,Executive Vice President,mr.christopher@lee.com,Media planner,Website,Level 2,Up-to-date,"Thomas,Lori E",No,4,62.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7002,TitleJ7TDY,Flowers-Adams PLC,Banks,192800$,1195360.0$,12/07/2020,Product_1,1734434912,100 - 500 Million,Category 4,...,CEO/Co-Founder/Chairman,clairewilliams@flowersadams.com,Call centre manager,Contact Email,Level 1,More than a week back,"Jones,Eyvette W",We have all the requirements,4,107.34
7003,TitleO1IIN,"Kelly, Smith and Benton and Sons",Hospitals/Clinics,220208$,1453372.8$,03/13/2020,Product_2,(002)106-0243x03346,100 - 500 Million,Category 1,...,CEO,vanessaanderson@kelly.com,Financial risk analyst,Marketing Event,Level 2,?,"Brown,Maxine A",We have all the requirements,3,26.35
7004,TitleF1FWY,Romero-Juarez PLC,Semiconductors,253608$,NaN,03/10/2020,Product_1,777-231-4109x712,100 - 500 Million,Category 2,...,SVP/General Counsel,nicholasduncan@romerojuarez.com,Nature conservation officer,Marketing Event,Level 3,NaN,"Logan,Kevin N",NaN,1,70.60
7005,TitleXVBNJ,"Sullivan, Mooney and Elliott LLC",Banks,118615$,794720.5$,12/26/2019,Product_1,001-212-631-5467x377,500 Million - 1 Billion,Category 2,...,Executive Vice President,waynewilliams@sullivan.com,"Designer, textile",Website,Level 3,NaN,"Cashin,Marc C",We have all the requirements,3,-5.00
7006,TitleKXU3H,Jones LLC and Sons,Financial Services,258627$,1642281.45$,04/27/2020,Product_2,-8925,500 Million - 1 Billion,Category 2,...,Vice President / GM (04-present) : VP Sales an...,carolstrickland@jones.com,Government social research officer,Contact Email,Level 3,More than a week back,"Massiah,Gerard F",We have all the requirements,1,68.70

In [ ]:
del df['index']

In [ ]:
df.head()

,Industry,Deal_value,Weighted_amount,Pitch,Lead_revenue,Fund_category,Hiring_candidate_role,Level_of_meeting,Last_lead_update,Resource,Internal_rating,Success_probability
0,120,320506,2067263.7,1,1,1,126,2,8,0,3,73.6
1,32,39488,240876.8,1,2,3,501,0,4,3,5,58.9
2,57,359392,2407926.4,0,2,3,286,0,3,3,4,68.8
3,115,76774,468321.4,1,2,2,611,1,4,5,1,64.5
4,18,418674,2637646.2,0,1,1,381,2,0,2,3,66.3

In [ ]:
#dividing the dataset into independent and dependent variables
df.columns

Index(['Industry', 'Deal_value', 'Weighted_amount', 'Pitch', 'Lead_revenue',
       'Fund_category', 'Hiring_candidate_role', 'Level_of_meeting',
       'Last_lead_update', 'Resource', 'Internal_rating',
       'Success_probability'],
      dtype='object')

In [ ]:
X=df.copy()
y=df.copy()

In [ ]:
del X['Success_probability']

In [ ]:
y=y.drop(['Industry', 'Deal_value', 'Weighted_amount', 'Pitch', 'Lead_revenue',
       'Fund_category', 'Hiring_candidate_role', 'Level_of_meeting',
       'Last_lead_update', 'Resource', 'Internal_rating'],axis=1)

In [ ]:
X.head()

,Industry,Deal_value,Weighted_amount,Pitch,Lead_revenue,Fund_category,Hiring_candidate_role,Level_of_meeting,Last_lead_update,Resource,Internal_rating
0,120,320506,2067263.7,1,1,1,126,2,8,0,3
1,32,39488,240876.8,1,2,3,501,0,4,3,5
2,57,359392,2407926.4,0,2,3,286,0,3,3,4
3,115,76774,468321.4,1,2,2,611,1,4,5,1
4,18,418674,2637646.2,0,1,1,381,2,0,2,3

In [ ]:
y.head()

   Success_probability
0                 73.6
1                 58.9
2                 68.8
3                 64.5
4                 66.3

In [ ]:
#train and test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)

In [ ]:
x_train.shape

(5148, 11)

In [ ]:
x_test.shape

(1287, 11)

In [ ]:
y_train.shape

(5148, 1)

In [ ]:
y_test.shape

(1287, 1)

In [ ]:
#model-1
from sklearn.linear_model import LinearRegression
model_lr=LinearRegression()
model_lr.fit(x_train,y_train)
y_pred=model_lr.predict(x_test)

In [ ]:
y_test['Predicted']=y_pred

In [ ]:
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']

In [ ]:
y_test['Difference'].loc[y_test['Difference']>10].count()

97

In [ ]:
y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count()

598

In [ ]:
y_test['Difference'].loc[y_test['Difference']<0].count()

592

----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#train and test split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)

In [ ]:
#model-2
from sklearn.tree import DecisionTreeRegressor
model_dtr=DecisionTreeRegressor()
model_dtr.fit(x_train,y_train)
y_pred=model_dtr.predict(x_test)

In [ ]:
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']

In [ ]:
y_test['Difference'].loc[y_test['Difference']>10].count()

233

In [ ]:
y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count()

458

In [ ]:
y_test['Difference'].loc[y_test['Difference']<0].count()

596

----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#model-3
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
from sklearn.neighbors import KNeighborsRegressor
model_knr=KNeighborsRegressor()
model_knr.fit(x_train,y_train)
y_pred=model_knr.predict(x_test)
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']
print(y_test['Difference'].loc[y_test['Difference']>10].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count())
print(y_test['Difference'].loc[y_test['Difference']<0].count())

263
420
604

----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#model-4
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
from sklearn.linear_model import Lasso
model_l=Lasso()
model_l.fit(x_train,y_train)
y_pred=model_l.predict(x_test)
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']
print(y_test['Difference'].loc[y_test['Difference']>10].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count())
print(y_test['Difference'].loc[y_test['Difference']<0].count())
print(y_test['Difference'].loc[y_test['Difference']>=50].count())

101
626
560
0

----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#model-5
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
from sklearn.svm import SVR
model_svr=SVR()
model_svr.fit(x_train,y_train)
y_pred=model_svr.predict(x_test)
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']
print(y_test['Difference'].loc[y_test['Difference']>10].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count())
print(y_test['Difference'].loc[y_test['Difference']<0].count())

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

114
549
624

----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#model-6
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
from sklearn.ensemble import RandomForestRegressor
model_rfr=RandomForestRegressor()
model_rfr.fit(x_train,y_train)
y_pred=model_rfr.predict(x_test)
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']
print(y_test['Difference'].loc[y_test['Difference']>10].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count())
print(y_test['Difference'].loc[y_test['Difference']<0].count())

C:\Users\hp\AppData\Local\Temp\ipykernel_5196\828339281.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rfr.fit(x_train,y_train)

158
537
592

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------################################################################################################################################################################
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#dropping the null values
df2=wasteWhiz.copy()

In [ ]:
df2.columns

Index(['Deal_title', 'Lead_name', 'Industry', 'Deal_value', 'Weighted_amount',
       'Date_of_creation', 'Pitch', 'Contact_no', 'Lead_revenue',
       'Fund_category', 'Geography', 'Location', 'POC_name', 'Designation',
       'Lead_POC_email', 'Hiring_candidate_role', 'Lead_source',
       'Level_of_meeting', 'Last_lead_update', 'Internal_POC', 'Resource',
       'Internal_rating', 'Success_probability'],
      dtype='object')

In [ ]:
#removing unnecessary columns
df2=df2.drop(['Deal_title','Lead_name','Contact_no','Geography','Location','POC_name','Designation','Lead_POC_email','Lead_source'],axis=1)

In [ ]:
#checking the datatypes of the columns
df2.dtypes

Industry                  object
Deal_value                object
Weighted_amount           object
Date_of_creation          object
Pitch                     object
Lead_revenue              object
Fund_category             object
Hiring_candidate_role     object
Level_of_meeting          object
Last_lead_update          object
Internal_POC              object
Resource                  object
Internal_rating            int64
Success_probability      float64
dtype: object

In [ ]:
#checking for null values
df2.isnull().sum()

Industry                   1
Deal_value                51
Weighted_amount          525
Date_of_creation           0
Pitch                      0
Lead_revenue               0
Fund_category              0
Hiring_candidate_role      0
Level_of_meeting           0
Last_lead_update         633
Internal_POC               0
Resource                 149
Internal_rating            0
Success_probability        0
dtype: int64

In [ ]:
#dropping the null values
df2=df2.dropna().reset_index()

In [ ]:
del df2['index']

In [ ]:
df2.isnull().sum()

Industry                 0
Deal_value               0
Weighted_amount          0
Date_of_creation         0
Pitch                    0
Lead_revenue             0
Fund_category            0
Hiring_candidate_role    0
Level_of_meeting         0
Last_lead_update         0
Internal_POC             0
Resource                 0
Internal_rating          0
Success_probability      0
dtype: int64

In [ ]:
#converting the object
df2['Deal_value']=df2['Deal_value'].str.replace('$','').astype(int)
df2['Weighted_amount']=df2['Weighted_amount'].str.replace('$','').astype(float)

C:\Users\hp\AppData\Local\Temp\ipykernel_5196\2552724000.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Deal_value']=df2['Deal_value'].str.replace('$','').astype(int)
C:\Users\hp\AppData\Local\Temp\ipykernel_5196\2552724000.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Weighted_amount']=df2['Weighted_amount'].str.replace('$','').astype(float)

In [ ]:
#giving the numeric values to the attributes
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
cols=['Industry','Pitch','Lead_revenue','Fund_category','Hiring_candidate_role','Level_of_meeting','Last_lead_update','Resource']
for i in cols:
  df2[i]=le.fit_transform(df2[i].astype(str))

In [ ]:
df2.head()

,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Lead_revenue,Fund_category,Hiring_candidate_role,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating,Success_probability
0,31,39488,240876.8,07/10/2019,1,2,3,501,0,3,"Brown,Maxine A",2,5,58.9
1,55,359392,2407926.4,07/27/2019,0,2,3,286,0,2,"Georgakopoulos,Vasilios T",2,4,68.8
2,113,76774,468321.4,01/30/2021,1,2,2,611,1,3,"Brown,Maxine A",4,1,64.5
3,17,418674,2637646.2,06/30/2019,0,1,1,381,2,0,"Featherstone,Adrian R",1,3,66.3
4,9,245205,1642873.5,12/22/2020,1,2,0,212,1,1,"Cashin,Marc C",2,5,74.1

In [ ]:
X=df2.copy()
y=df2.copy()

In [ ]:
y=y.drop(['Industry', 'Deal_value', 'Weighted_amount', 'Pitch', 'Lead_revenue',
       'Fund_category', 'Hiring_candidate_role', 'Level_of_meeting',
       'Last_lead_update', 'Resource', 'Internal_rating'],axis=1)
del X['Success_probability']

In [ ]:
X.head()

,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Lead_revenue,Fund_category,Hiring_candidate_role,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating
0,31,39488,240876.8,07/10/2019,1,2,3,501,0,3,"Brown,Maxine A",2,5
1,55,359392,2407926.4,07/27/2019,0,2,3,286,0,2,"Georgakopoulos,Vasilios T",2,4
2,113,76774,468321.4,01/30/2021,1,2,2,611,1,3,"Brown,Maxine A",4,1
3,17,418674,2637646.2,06/30/2019,0,1,1,381,2,0,"Featherstone,Adrian R",1,3
4,9,245205,1642873.5,12/22/2020,1,2,0,212,1,1,"Cashin,Marc C",2,5

In [ ]:
y.head()

  Date_of_creation               Internal_POC  Success_probability
0       07/10/2019             Brown,Maxine A                 58.9
1       07/27/2019  Georgakopoulos,Vasilios T                 68.8
2       01/30/2021             Brown,Maxine A                 64.5
3       06/30/2019      Featherstone,Adrian R                 66.3
4       12/22/2020              Cashin,Marc C                 74.1

In [ ]:
del y['Date_of_creation']
del X['Date_of_creation']

In [ ]:
del y['Internal_POC']
del X['Internal_POC']

In [ ]:
#model-1
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
from sklearn.linear_model import LinearRegression
model_lr1=LinearRegression()
model_lr1.fit(x_train,y_train)
y_pred=model_lr1.predict(x_test)
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']
print(y_test['Difference'].loc[y_test['Difference']>10].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count())
print(y_test['Difference'].loc[y_test['Difference']<0].count())

93
494
560

In [ ]:
#model-1
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
from sklearn.linear_model import Lasso
model_l1=Lasso()
model_l1.fit(x_train,y_train)
y_pred=model_l1.predict(x_test)
y_test['Predicted']=y_pred
y_test['Difference']=y_test['Success_probability']-y_test['Predicted']
print(y_test['Difference'].loc[y_test['Difference']>10].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].count())
print(y_test['Difference'].loc[y_test['Difference']<0].count())
print(y_test['Difference'].loc[y_test['Difference']>=50].count())
print(y_test['Difference'].loc[(y_test['Difference']<=10) & (y_test['Difference']>=0)].min())

94
499
554
0
0.0027496613675310755

In [ ]:
import joblib
joblib.dump(model_l1,'Model')

['Model']